@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300&display=swap");

body {
  margin: 0px;
}

.container::after {
  content: "";
  height: 100vh;
  width: 100%;
  background: #000;
  background-image: url(background.jpg);
  background-size: contain;

  background-repeat: no-repeat;
  background-position: center;
  display: block;
  transition: all 1000ms;
}

span {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  bottom: 1%;
  right: 1%;
}
